<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCE9ytkJC48ajVlBBtUq2WYsGTDowqO5UQ",
    authDomain: "djangologin-266bf.firebaseapp.com",
    databaseURL: "https://djangologin-266bf.firebaseio.com",
    projectId: "djangologin-266bf",
    storageBucket: "djangologin-266bf.appspot.com",
    messagingSenderId: "872172861767",
    appId: "1:872172861767:web:e3e9c209ec8bbaf3773462",
    measurementId: "G-VWNPFZ2V70"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>